@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #3c3c3c;
}

/* Title and Logo*/
#h1, #h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
}

#logo {
    font-size: 300%;
    letter-spacing: 3px;
    float: left;
    color: #000000;
}

#logo , #selection {
    line-height: 75px;
}

/* Navigation Links */
#selection {
    font-size: 110%;
    letter-spacing: 3px;
}

#selection li {
    list-style-type: none;
    margin-right: 30px;
    float: right;
}

#selection a {
    text-decoration: none;
    color: inherit;
}

#selection a:hover {
    border-bottom: 1px solid blue;
}

.active {
    border-bottom: 1px solid #f01010b9;
} 

/* Hero Image */
#hero-outer {
    height: 650px;
    width: 100%;
    overflow: hidden;
}

#intro-text, #intro-text h2 {
    color: #000000;
}

#intro-text {
    font-size: 120%;
    font-family: Oswald, sans-serif;
    letter-spacing: 3px;
    text-transform: capitalize;
    width: 300px;
    height: 150px;
    padding-top: 350px;
    padding-left: 500px;
    transform: skewY(-8deg);
}

#hero-image {
    height: 650px;
    width: 100%;
    background: url('../images/deskimage.jpg') no-repeat center center;
}

