@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #3c3c3c;
}

/* Title and Logo*/
#h1,
#h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
}

#logo {
    font-size: 300%;
    letter-spacing: 3px;
    float: left;
    color: #000000;
}

#logo,
#selection {
    line-height: 75px;
}

/* Navigation Links */
#selection {
    font-size: 110%;
    letter-spacing: 3px;
}

#selection li {
    list-style-type: none;
    margin-right: 30px;
    float: right;
}

#selection a {
    text-decoration: none;
    color: inherit;
}

#selection a:hover {
    border-bottom: 1px solid blue;
}

.active {
    border-bottom: 1px solid #f01010b9;
}

/* Hero Image */
#hero-outer {
    height: 650px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#intro-text,
#intro-text h2 {
    color: #000000;
}

#intro-text {
    font-size: 120%;
    font-family: Oswald, sans-serif;
    letter-spacing: 3px;
    text-transform: capitalize;
    width: 300px;
    height: 150px;
    padding-top: 350px;
    padding-left: 500px;
    padding-right: 500px;
    transform: skewY(-8deg);
    position: relative;
}

#hero-image {
    height: 650px;
    width: 100%;
    background: url('../images/workspace.jpg') no-repeat center center;
}

/* Home Page */

.home {
    font-family: 'Oswald', sans-serif;
    color: #3c3c3c;
}

h2,
h3, h4 {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
    color: black;
}

.container {
    display: flex;
    flex-flow: wrap;
    min-height: 50px;
    align-items: center;
    margin-top: 10px;
}

.container>* {
    flex: 1 100%;
}

.header {
    line-height: 75px;
}

.title {
    font-size: 250%;
    text-align: center;
}

.picture {
    width: 150px;
    height: 175px;
    float: left;
    margin-left: 15%;
}

.introduction {
    border: 2px solid black;
    float: right;
    width: 425px;
    margin-right: 15%;
    height: 175px;
}

#selfie {
    width: 100px;
    height: 175px;
    float: left;
    margin-left: 15%;
}

#hobbies {
    margin-top: 250px;
    height: 500px;
    position: relative;
}

figcaption {
    text-align: center;
}

#gallery {
    clear: both;
    line-height: 1;
    column-count: 3;
    column-gap: 5px;
}

#gallery img {
    width: 100%;
    height: 225px;
}

/* Footer Section */

.footer {
    height: 100px;
    margin-top: 5%;
    text-align: center;
}

#socials li {
    list-style-type: none;
    position: center;
    display: inline;
}

#socials i {
    color: #f01010b9;
    font-size: 150%;
    padding: 30px
}

#socials a:hover {
    border-bottom: 1px solid blue;
}

/* History Page */

html,
body {
    height: 100%;
}

.history {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.history>* {
    flex: 1;
}

.row1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.row2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.education {
    height: 600px;
    margin-top: 75px;
    justify-content: space-evenly;
}

#school h2 {
    align-self: flex-start;
    font-size: 200%;
    text-align: center;
    margin-bottom: 3%;
}

.uni {
    margin: auto;
    text-align: center;
    padding-left: 10px;
}

.grades {
    margin: auto;
    align-items: center;
    padding-right: 10px;
}

#school table td {
    text-align: center;
}

#school table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
}

.employment {
    height: 600px;
    margin-top: 50px;
}

.list1 {
    margin: auto;
    align-self: center;
}

.list2 {
    margin: auto;
    align-self: center;
}

#job h4 {
    margin-top: 5%;
    align-self: center;
}

#job h2 {
    font-size: 200%;
    text-align: center;
    margin-bottom: 3%;
    padding-top: 5%;
}

.work {
    margin: auto;
    text-align: center;
    padding-right: 10px;
    padding-top: 50px;
}

/* Contact Me Page*/
.form {
    display: flex;
    justify-content: center;
}

.form {
    background: url('../images/plant.jpg');
    background-size: cover;
    background-position: center;
    height: 800px;
}

.contact-form {
    color: black;
    max-width: 250px;
    position: absolute;
    margin-top: 10px;
    padding: 20px;
    /* border: 2px solid black; */
    height: 400px;
    
}

.contact-form > h3 {
    color: #3c3c3c;
    margin-bottom: 30px;
}

.text {
    background: opaque;
    color: #3c3c3c;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #f01010b9;
    border-radius: 2px;
}

#message {
    height: 75px;
}

.text:hover {
    border-color: blue;
}

.send-button{
    margin-top: 20px;
    border-radius: 3px;
    padding: 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #f01010b9;
    color: rgb(238, 238, 223);
    display: block;
}

/* Media Queries*/

@media all and (min-width: 800px) {
    .header {
        flex: 4;
    }

    .title {
        order: 2;
    }

    .intro1 {
        order: 1;
    }

    .intro2 {
        order: 3;
    }

    .footer {
        order: 4;
    }
}

@media all and (min-width: 600px) {
    .intro {
        flex: 1;
    }

    .education {
        flex: 1;
    }

    .employment {
        flex: 1;
    }
}

@media all and (min-width: 800px) {
    .history {
        flex: 3;
    }

    .education {
        order: 1;
    }
     
    .employment {
        order: 2;
    }

    .footer {
        order: 3;
    }

    .header {
        flex: 100%; 
    }
}

